@import url(https://fonts.googleapis.com/css?family=Bungee);

header {
    background: $baseDark;
    color: ivory;
    height:7em;
    line-height:7em;
    text-align:center;
    width:100%;
    font-family: 'Bungee', cursive;
}

.header-title {
    color: #fff;
}